<div class="cont">
    <mat-toolbar class="toolbar">
    <button mat-icon-button class="menu" (click)="snav.toggle()">
    <mat-icon style="color: white" >menu</mat-icon>
    </button>
    <button mat-icon-button class="menu" style="left:95%" (click)="Salir()">
    <mat-icon style="color: white">exit_to_app</mat-icon>
    </button>
    </mat-toolbar>
            <mat-sidenav-container class="sidenav-container" >
            <mat-sidenav #snav class="expanded-nav col-lg-2 col-md-2 col-sm-4 col-xs-5 p-0 " fixedTopGap="56">
            <mat-nav-list class="expanded-list-nav">
            <a mat-list-item class="expanded-items-list" routerLink="/"><mat-icon>home</mat-icon>Inicio</a>
            <a mat-list-item class="expanded-items-list" routerLink="/tablaprueba"><mat-icon>place</mat-icon>Parcelas creadas</a>
            </mat-nav-list>
            </mat-sidenav>
    <mat-sidenav-content class="body">
            <div class="card">
            <mat-toolbar>
            <span>prueba generales  <button mat-stroked-button class="btn-regresar" (click)="Regresar()">Regresar </button> </span>
            </mat-toolbar>
            <div class="card-body">
                        <form  #formpruebaGenerales="ngForm" (ngSubmit)="onSubmit()">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                             <mat-select placeholder="Select" name="id_municipio" #id_municipio="ngModel" [(ngModel)]="prueba.id_municipio">
                                             <mat-option *ngFor="let m of mun" [value]="m.value">
                                                        {{m.viewValue}}
                                             </mat-option>
                                             </mat-select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                             <mat-select placeholder="Select" name="id_tipo" #id_tipo="ngModel" [(ngModel)]="prueba.id_tipo" >
                                             <mat-option  *ngFor="let t of tipo" [value]="t.value">
                                                                {{t.viewValue}}
                                                 </mat-option>
                                             </mat-select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                             <mat-form-field class="example-full-width">
                                             <input matInput placeholder="Numero de parcela" min="0" type="number" name="no_parcela" readonly="readonly"  #no_parcela="ngModel" [(ngModel)]="prueba.no_parcela" required >
                                             </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                             <mat-form-field class="example-full-width">
                                             <input matInput placeholder="Hectáreas adqueridas" min="0"  type="number" name="medidas" readonly="readonly"  #medidas="ngModel" [(ngModel)]="prueba.medidas"  required  >
                                             </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                             <mat-form-field class="example-full-width">
                                             <input matInput placeholder="Valor de compra" min="0" (keyup)="formato()"  type="text" name="valor_compra" readonly="readonly"  #valor_compra="ngModel" [(ngModel)]="prueba.valor_compra" required >
                                             </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                             <mat-form-field class="example-full-width">
                                             <input matInput placeholder="Norte"  type="text" name="norte"  #norte="ngModel" [(ngModel)]="prueba.norte">
                                             </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                             <mat-form-field class="example-full-width">
                                             <input matInput placeholder="Sur"  type="text" name="sur"  #sur="ngModel" [(ngModel)]="prueba.sur">
                                             </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                             <mat-form-field class="example-full-width">
                                             <input matInput placeholder="Este"  type="text" name="este"  #este="ngModel" [(ngModel)]="prueba.este">
                                             </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                             <mat-form-field class="example-full-width">
                                             <input matInput placeholder="Oeste"  type="text" name="oeste"  #oeste="ngModel" [(ngModel)]="prueba.oeste">
                                             </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                             <mat-form-field class="example-full-width">
                                             <input matInput placeholder="Noreste"  type="text" name="noreste"  #noreste="ngModel" [(ngModel)]="prueba.noreste">
                                             </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                             <mat-form-field class="example-full-width">
                                             <input matInput placeholder="Noroeste"  type="text" name="noroeste"  #noroeste="ngModel" [(ngModel)]="prueba.noroeste">
                                             </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                                     <mat-form-field class="example-full-width">
                                                     <input matInput placeholder="Suroeste"  type="text" name="suroeste"  #suroeste="ngModel" [(ngModel)]="prueba.suroeste">
                                                     </mat-form-field>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                                     <mat-form-field class="example-full-width">
                                                     <input matInput placeholder="Sureste"  type="text" name="sureste"  #sureste="ngModel" [(ngModel)]="prueba.sureste">
                                                 </mat-form-field>
                                                    </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                             <mat-form-field class="example-full-width">
                                             <textarea matInput placeholder="Descripcion" name="desc_par" #desc_par="ngModel" [(ngModel)]="prueba.desc_par" ></textarea>
                                             </mat-form-field>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                            
                                                <input type="date"  class="equipo-dinamita" hidden  name="fecha_alta" #fecha_alta="ngModel" [(ngModel)]="prueba.fecha_alta" readonly="readonly" />
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker" placeholder="Fecha de alta" name="fecha_alta" #fecha_alta="ngModel" [(ngModel)]="prueba.fecha_alta" readonly="readonly">
                                                    <mat-datepicker-toggle matSuffix [for]="picker" hidden></mat-datepicker-toggle>
                                                    <mat-datepicker #picker hidden></mat-datepicker>
                                                  </mat-form-field>
                                            </div>
                                        </div>
                                        <button mat-stroked-button class="angular-material-button">Enviar </button>
                                        <br>	
                                        <br>  
                                    </form>    
            </div>
            </div>
    </mat-sidenav-content>
    </mat-sidenav-container>
  </div>