<div class="cont">
    <mat-toolbar class="toolbar">
    <button mat-icon-button class="menu" (click)="snav.toggle()">
    <mat-icon style="color: white" >menu</mat-icon>
    </button>
    <button mat-icon-button class="menu" style="left:95%">
    <mat-icon style="color: white">home</mat-icon>
    </button>
    </mat-toolbar>
            <mat-sidenav-container class="sidenav-container" >
            <mat-sidenav #snav class="expanded-nav col-lg-2 col-md-2 col-sm-4 col-xs-5 p-0 " fixedTopGap="56">
            <mat-nav-list class="expanded-list-nav">
            <a mat-list-item class="expanded-items-list" routerLink="/"><mat-icon>check_circle_outline</mat-icon></a>
            <a mat-list-item class="expanded-items-list" routerLink="/"><mat-icon>check_circle_outline</mat-icon></a>
            </mat-nav-list>
            </mat-sidenav>
    <mat-sidenav-content class="body">
            <div class="card">
            <mat-toolbar>
            <span>Datos generales</span>
            </mat-toolbar>
            <div class="card-body">
                            <form #formDatosGenerales="ngForm" (ngSubmit)="onSubmit()">


                              <div class="form-group">
                                 <label for="exampleFormControlInput1">Numero de parcela</label>
                                 <input type="number" class="form-control" placeholder="Medidas" name="no_parcela" #no_parcela="ngModel" [(ngModel)]="datos.no_parcela">
                              </div>
                             <div class="form-group">
                                <label for="exampleFormControlSelect1">Region</label>
                                <select class="form-control" name="id_municipio" #region="ngModel" [(ngModel)]="datos.id_municipio">
                                <option >......</option>
                                <option value="1">Saltillo</option>
                                <option value="2">Cadereyta</option>
                                <option value="3">Salinas</option>
                                </select>
                              </div>
                                <div class="form-group">
                                   <label for="exampleFormControlInput1">Medidas</label>
                                   <input type="number" class="form-control" placeholder="Medidas" name="medidas" #medidas="ngModel" [(ngModel)]="datos.medidas">
                                </div>
                                
                                
                                
                                
                                <div class="form-group">
                                   <label for="exampleFormControlInput1">Norte</label>
                                   <input type="text" class="form-control" placeholder="Localizacion" name="norte" #norte="ngModel" [(ngModel)]="datos.norte">
                                </div>
                                
                                
                                <div class="form-group">
                                   <label for="exampleFormControlInput1">Este</label>
                                   <input type="text" class="form-control" placeholder="Localizacion" name="este" #este="ngModel" [(ngModel)]="datos.este">
                                </div>
                                
                                <div class="form-group">
                                   <label for="exampleFormControlInput1">Oeste</label>
                                   <input type="text" class="form-control" placeholder="Localizacion" name="oeste" #oeste="ngModel" [(ngModel)]="datos.oeste">
                                </div>
                                
                                <div class="form-group">
                                   <label for="exampleFormControlInput1">Sur</label>
                                   <input type="text" class="form-control" placeholder="Localizacion" name="sur" #sur="ngModel" [(ngModel)]="datos.sur">
                                </div>
                                
                                <div class="form-group">
                                   <label for="exampleFormControlInput1">Noreste</label>
                                   <input type="text" class="form-control" placeholder="Localizacion" name="noreste" #noreste="ngModel" [(ngModel)]="datos.noreste">
                                </div>
                                
                                
                                <div class="form-group">
                                   <label for="exampleFormControlInput1">Noroeste</label>
                                   <input type="text" class="form-control" placeholder="Localizacion" name="noroeste" #noroeste="ngModel" [(ngModel)]="datos.noroeste">
                                </div>
                                
                                
                                <div class="form-group">
                                   <label for="exampleFormControlInput1">Sureste</label>
                                   <input type="text" class="form-control" placeholder="Localizacion" name="sureste" #sureste="ngModel" [(ngModel)]="datos.sureste">
                                </div>
                                
                                
                                <div class="form-group">
                                   <label for="exampleFormControlInput1">Suroeste</label>
                                   <input type="text" class="form-control" placeholder="Localizacion" name="suroeste" #suroeste="ngModel" [(ngModel)]="datos.suroeste">
                                </div>
                                
                                
                                
                                <div class="form-group">
                                   <label for="exampleFormControlInput1">Descripcion</label>
                                  <textarea class="form-control"  rows="3" placeholder="Descripcion" name="desc_par" #desc_par="ngModel" [(ngModel)]="datos.desc_par"></textarea>
                                  
                                </div>
                                <div class="form-group">
                                 <label for="exampleFormControlSelect1">Tipo</label>
                                    <select class="form-control"  name="id_tipo" #id_tipo="ngModel" [(ngModel)]="datos.id_tipo">
                                        <option>......</option>
                                        <option value="1">Fracionamiento</option>
                                        <option value="2">Fracionamiento/Propiedad</option>
                                        <option value="3">Fracionamiento/Co-Propiedad</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Valor de compra</label>
                                     <input type="number" class="form-control" placeholder="Valor de compra" name="valor_compra" #valor_compra="ngModel" [(ngModel)]="datos.valor_compra">
                                </div>
                                <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Provedor</label>
                                        <select class="form-control"  name="id_proveedor" #tipo="ngModel" [(ngModel)]="datos.id_proveedor">
                                            <option>......</option>
                                            <option value="1">Angel</option>
                                            <option value="2">Karla</option>
                                            <option value="3">Gisela</option>
                                        </select>
                                </div>

                                <button type="submit" value="envia">Prueba</button>
                            </form>
            </div>
            </div>
    </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  