<div class="form">
  <form  class="register-form" >
    <p>Registro:</p>
    
    <p>Nombre:<p>
    <input type="text"  placeholder="nombre"  name="nombre" required  />
    
    <p>Password:</p>
    <input type="password"  placeholder="password"  name="password" required/>
    
    <p>UserName:</p>
    <input type="text"   placeholder="username"  name="usernames" required/> 
    <button type="submit" value="Enviar" >create</button>
    <p class="message">Ya estas registrado <a routerLink="/login" > Iniciar sesion </a>
  </form>
</div>