.cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    }
    .menu{
    color:#00000094;
    }
    
    .toolbar{
    background: #0d6e00;
    }
    .mobile .toolbar {
    position: fixed;
    z-index: 2;
    }
    
    .expanded-nav {
    background: rgb(242, 242, 242);
    }
    .sidenav-container {
    //background: rgba(118, 118, 118, 0.74);
    flex: 1;
    }
    
    .mobile .sidenav-container {
    flex: 1 0 auto;
    }
    .expanded-items-list:hover{
    background: #00000094;
    color: white;
    }
    .body{
    background: #ffffff;
    }
    
    a:visited{
        color:transparent;
    }
    a:active{
        color:transparent;
    }

    .url:visited{
        color:transparent;
    }
    .url:active{
        color:transparent;
    }

    .equipo-dinamita{
        display: block;
        width: auto;
        height: calc(1.5em + .75rem +2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15 ease-in-out;
    }

    .equipo-dinamita-Button{
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: auto;
        height: auto;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .angular-material-button{
        background: #4CAF50;
        margin-right: 8px;
        color: white;
    }

    .btn-regresar{
        background: #4CAF50;
        margin-right: 8px;
        color: white;
        position: absolute;
        right:9%;
    }